// Fuente
$fuente_principal: 'Montserrat', sans-serif;

// Colores

$rosa: #d8c0cf;
$crema: #e7dbd8;
$piel: #ffc6b4;
$cafe: #100f0b;
$negro: #0b0a0a;
$cafe_gris: #807677;
$blanco: #f8f8f8;
$rojo: #c2114b;


// Tamaños MQ
$telefono: 480px;
$tablet: 768px;
$desktop: 996px;
$desktopXL: 1200px;